<h1>Welcome to the Shelters Home Page</h1>

<% @shelters.each do |shelter| %>
<section class="shelter-<%= shelter.id %>">
  <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %><br>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %>
  <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %><br><br>
</section>
<% end %>
<%= link_to "New Shelter", "/shelters/new" %>
