<main>
<h1>Welcome to <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}"  %> Pets Page</h1>

<% @shelter.pets.each do |pet| %>
  <section class="pets-<%= pet.id %>">
  <img class="pet-image" src=<%= pet.image %>>
  <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
  <h3>Approximate Age: <%= pet.age %></h3>
  <h3>Sex: <%= pet.sex %></h3>
  <h3>Adoption Status: <%= pet.status %></h3>
  <h3>Pets in this shelter: <%= @shelter.count_pets %></h3>
  <%= link_to "Update Pet", "/pets/#{pet.id}/edit" %><br>
  <%= link_to "Delete Pet", "/pets/#{pet.id}/delete", method: :delete %><br><br>
  </section>
<% end %>
<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>
</main>
