<%= content_tag :h1, "Application" %>

<%= content_tag :p,"Applicant: #{@application.user_name}" %>
<%= content_tag :p, "Address: #{@application.full_address}" %>
<%= content_tag :p, "Description: #{@application.description}" %>
<%= content_tag :p, "Status: #{@application.status}" %>
<%= content_tag :p, 'Pets:' %>
<ul>
  <% @application.pet_names.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul>
