<%= content_tag :h1, "Application" %>

<%= content_tag :p,"Applicant: #{@application.user_name}" %>
<%= content_tag :p, "Address: #{@application.full_address}" %>
<%= content_tag :p, "Status: #{@application.status}" %>
<%= content_tag :p, 'Pets:' %>
<ul>
  <% @application.pet_names.each do |pet| %>
    <li id="app-pets-<%= pet.name %>"><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul>
<% if @application.status != "in_progress" %>
<%= content_tag :p, "Description: #{@application.description}" %>
<% end %>
<% if @application.status == "in_progress" %>
<%= form_tag "/applications/#{@application.id}", method: :get do %>
  <%= hidden_field_tag :application_id, @application.id %>
  <%= label_tag :search, "Add a Pet to this Application:" %>
  <%= search_field_tag :search, params[:search] %>
  <%= submit_tag "Search Pets" %>
<% end %>
<% end %>

<% if @search_results %>
  <ul>
    <% @search_results.each do |pet| %>
      <li id='result-<%= pet.id %>'>
        <%= content_tag :p, "Name: #{pet.name}" %>
        <%= button_to "Adopt This Pet", "/applications/#{@application.id}", method: :patch, params: {pet: pet.id} %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @application.pet_names.any? && @application.status == "in_progress" %>
  <%= form_tag "/applications/#{@application.id}", method: :patch do %>
    <%= label_tag :description, "Why Are You A Good Owner?" %>
    <%= text_field_tag :description %>
    <%= submit_tag "Submit Application" %>
  <% end %>
<% end %>
