<h1>All Pets</h1>

  <% @pets.each do |pet| %>
    <section class="pets-<%= pet.id %>">
      <img class="pet-image" src=<%= pet.image %>>
      <p>Name: <%= pet.name %></p>
      <p>Age: <%= pet.age %></p>
      <p>Sex: <%= pet.sex %></p>
      <p>Belongs To: <%= pet.shelter.name %></p>
      <%= link_to "Update Pet", "/pets/#{pet.id}/edit" %><br><br>
    </section>
  <% end %>
