<h1>Welcome To <%= @pet.name %>'s Page</h1>

<p><%= @pet.image %></p>
<p><%= @pet.name %></p>
<p><%= @pet.description %></p>
<p><%= @pet.age %></p>
<p><%= @pet.sex %></p>
<p><%= @pet.status %></p>
<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %><br>
<%= link_to "Delete Pet", "/pets/#{@pet.id}/delete", method: :delete %>
