<%= content_tag :h1, "#{@application.user_name}'s Application'" %>

<%= content_tag :h3, "Application Pets:" %>
<ul>
<% @application.application_pets.each do |application_pet| %>
  <li id='pet-application-status-<%= application_pet.pet.id %>'>
    <%= content_tag :p, application_pet.pet.name %>
    <% if application_pet.status == 'pending'  %>
      <%= button_to "Approve Pet", "/admin/application/#{@application.id}/application_pets/#{application_pet.id}", method: :patch, params: {status: 1} %>
      <%= button_to "Reject Pet", "/admin/application/#{@application.id}/application_pets/#{application_pet.id}", method: :patch, params: {status: 2} %>
    <% else %>
      <%= application_pet.status %>
    <% end %>
  </li>
<% end %>
</ul>
