<h1>Welcome to <%= @user.name %>'s page</h1>

<p>User Address: <%= @user.address %></p>
<p>User City: <%= @user.city %></p>
<p>User State: <%= @user.state %></p>
<p>User Zip: <%= @user.zip %></p>

<%= content_tag :h2, "User Reviews:" %>
<%= content_tag :h4, "Average Review Rating: #{@user.average_review_rating.to_f.round(1)}" %>
<% @user.reviews.each do |review| %>
  <p>Title: <%= review.title %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <img class="review-image" src=<%= review.image %>>
<% end %>
