<h1>Edit Review</h1>

<%= form_tag("/shelters/#{@review.shelter_id}/reviews/#{@review.id}", method: :patch) do %>
  <%= label_tag :title %><br>
  <%= text_field_tag :title, value="#{@review.title}" %><br>

  <%= label_tag :rating %><br>
  <%= text_field_tag :rating, value="#{@review.rating}" %><br>

  <%= label_tag :content %><br>
  <%= text_field_tag :content, value="#{@review.content}" %><br>

  <%= label_tag :image %><br>
  <%= text_field_tag :image, value="#{@review.image}" %><br>

  <%= label_tag :user %><br>
  <%= text_field_tag :user, value="#{@review.user.name}" %><br>

  <%= submit_tag "Update Review" %>
<% end %>
